/*  yarn  */
/* JSX */
/* inline CSS (not good pratice) */
/* function calling */
/* components */
/* react-bootstrap */
/* best practices to create  folder structure for any project */

@import "tailwindcss";